h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Cormorant SC", "Times New Roman", serif;
}
p,
li,
label,
input,
span,
th,
td {
    font-family: "Times New Roman", serif;
    font-size: 18px;
}
.btn {
    font-size: 21px;
}
.custom-font {
    font-family: "Cormorant SC", "Times New Roman", serif;
}
