.manuscripts .left-navigation {
    position: fixed;
    height: calc(100vh - 65px);
    background-color: rgba(0, 0, 0, 0.05);
}
.manuscripts .col-lg-3 {
    padding: 0;
}
.manuscripts h2 {
    font-family: "Cormorant SC", "Times New Roman", serif;
}
.manuscripts .left-navigation__item {
    margin: 5px 20px;
    font-family: "Cormorant SC", "Times New Roman", serif;
    font-size: 22px;
    color: black;
}
.manuscripts li:hover {
    text-underline: black;
}
.manuscripts .large-manuscripts,
.manuscripts .small-manuscripts {
    height: 300px;
    width: 400px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.manuscripts .large-manuscripts:hover,
.manuscripts .small-manuscripts:hover {
    box-shadow: 10px 10px 20px -20px rgba(0, 0, 0, 0.65);
}
.manuscripts .large-manuscripts {
    background: linear-gradient(lightcoral, lightcyan);
}
.manuscripts .small-manuscripts {
    background: linear-gradient(lightgreen, lightcyan);
}
